<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBHOST" value="localhost"/>
    <add key="DBNAME" value="codexsun_db"/>
    <add key="UPDATEURL" value="http://www.codexsun.com/autoupdate/codexsun/updater.xml"/>
    <add key="BACKUPPATH" value="codexsun_db"/>
    <add key="SOFTWARETYPE" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
